
*{
  margin: 0;
  padding: 0;
}
.navbar-inverse {
  background-color: #63676d;
  border-style: none;
}


/*
///////////////////////////////////////////////*/
.mycode{
  color: black;
}

.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect h2 {
text-transform:uppercase;
color:#fff;
text-align:center;
position:relative;
font-size:17px;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:50px 0 0;
padding:7px 14px;
}

.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}




/*////////////////////////////////////
*/.



/* NAVBAR
-------------------------------------------------- */

.navbar {
  margin-bottom: 0;
}

/* CUSTOMIZED CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 240px;
  margin-bottom: 30px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 240px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 240px;
}

@media (min-width: 768px) {

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

}

/* MARKETING
-------------------------------------------------- */

.marketing {
  margin: 60px auto;
}

.marketing .col-md-4 {
  text-align: center;
  font-size: 16px;
}

.marketing .col-md-4 .glyphicon {
  font-size: 60px;
  background-color: #EAEAEA;
  border-radius: 50%;
  padding: 40px;
  color: #444;
}


/* STICKY FOOTER
-------------------------------------------------- */

/*html {
  position: relative;
  min-height: 100%;
}
*/
body {
  /* Margin bottom by footer height */
  margin-bottom: 160px;
  font-family: 'Lato', sans-serif;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

a .fa {
  color: white;
  font-size: 30px;
  padding: 7px;
}

 

a .fa:hover {
  padding:  7px;
  color: #63676d;
  background: white;
  padding: 7px;
  border-radius: 50%;


}
h1{
  text-align: center;
}

hr {
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;

}


.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
   color: white;
  font-weight: bold;
  background-color:  #777;
  cursor: pointer;
}

#myBrand {
   color: white;
  font-weight: bold;
  background-color:  #777;
  cursor: pointer;
}

/*.navbar-default .navbar-brand, .navbar-default .navbar-brand{
   color: white;
  font-weight: bold;
  background-color:  #777;
  cursor: pointer;*/


.navbar-default .navbar-nav>li>a:hover{
  color: white;
  font-weight: bold;
  background-color:  #777;
  cursor: pointer;
}

nav.navbar.navbar-default {
  margin: 0;
}
navbar-inverse h3{
  color: white;
}
.white{
  color: white;
}